@import "../../styles/theme";

.form-group {
  font-family: $primary-font;

  &__label {
    color: $medium-grey;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;

    .required {
      color: $pink;
    }
  }

  &__content {
    .input {
      display: flex;
      width: 100%;

      &__prepend {
        align-items: center;
        border: 1px solid $light-grey;
        border-right: none;
        border-bottom-left-radius: $default-radius;
        border-top-left-radius: $default-radius;
        display: flex;
        padding: 0 $default-padding;

        .fa {
          color: $medium-grey;
          font-size: .75em;
        }
      }

      &__container {
        width: 100%;
        
        .input__field {
          border: 1px solid $light-grey;
          border-radius: $default-radius;
          display: block;
          padding: 8px;
          transition: border-color .2s ease-out;
          width: 100%;
  
          &:focus {
            border-color: $dark-blue;
            outline: none;
          }

          &:disabled {
            background: none;
            color: $medium-grey;
            cursor: not-allowed;
          }
          
          &--prepend {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }
      }

      &__caption {
        color: $medium-grey;
        font-size: .875em;
      }
    }
  }
}