@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');

/* Fonts */
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Playfair Display', serif;

/* Colors */
$black: #2c3242;
$medium-grey: #717681;
$light-grey: #f5f5f5;
$white: #fff;

$dark-blue: #4e77e7;
$medium-blue: #bde0e8;
$light-blue: #eaf5f8;

$light-pink: #fbf3fb;
$pink: #ff5d7e;

/* Transitions */
$default-easing: .25s ease-out;

/* Radius */
$default-radius: 4px;

/* Spacing */
$default-padding: 10px;