@import "../../styles/theme";

.card {
  border-radius: $default-radius;
  box-shadow: 0 2px 4px transparentize($medium-grey, .8);
  font-family: $primary-font;
  overflow: hidden;
  transition: all $default-easing;
  width: 100%;

  &__header {
    align-items: center;
    background: $medium-grey;
    display: flex;
    height: 175px;
    justify-content: center;
    transition: background $default-easing;

    .fa {
      color: $white;
      font-size: 2em;
      transition: color $default-easing;
    }
  }

  &__body {
    padding: 10px;

    .card__title {
      margin: 0;

      &--centered {
        text-align: center;
      }
    }

    .card__content {
      margin-top: 15px;

      &--margin-less {
        margin: 0;
      }
    }
  }

  &__footer {
    border-top: 1px solid $light-grey;
    display: flex;
    padding: 10px;
  }

  &--interactive {
    &:hover {
    box-shadow: 0 3px 5px transparentize($medium-grey, .65);
    cursor: pointer;
      transform: translateY(-5px);
    }
  }

  &:hover {
    // .card__header {
    //   background: $light-pink;

    //   .fa {
    //     color: $pink;
    //   }
    // }
  }
}