@import "../../styles/theme";

.accordion {
  border: 1px solid $light-grey;
  border-radius: $default-radius;
  font-family: $primary-font;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &__item {
    &:not(:first-child) {
      border-top: 1px solid $light-grey;
    }

    &:hover {
      &:not(.accordion__item--disabled) {
        .accordion__title {
          cursor: pointer;
          color: $dark-blue;
        }
      }
    }

    &--expanded {
      background: $light-grey;

      .accordion__content {
        display: block;
        max-height: 500px;
      }
    }

    &--disabled {
      cursor: not-allowed;

      .accordion__title {
        color: $light-grey;
        
        .fa {
          display: none;
        }
      }
    }
  }

  &__title,
  &__content {
    margin: 0;
    padding: $default-padding;
  }

  &__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: color $default-easing;
  }

  &__content {
    display: none;
  }
}